<div class="blogs">
    <ul class="blog-list">
        <% blogs.forEach(function(blog){ %>
            <li class="blog-item">
               <h3> <%= blog.title %> </h3>
                <p><%= blog.content %></p>
                <small><%= blog.id %></small>
            </li>
            
        <% }) %>
    </ul>
</div>
